{% extends 'layout.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<h1> Здравствуйте, {{user_login}}!</h1>
{% if user_role == 'user' %}
{{ macros.generate_user_info(user_info) }}
<br>
{{ macros.generate_bills(bills, 'user') }}
<br>
<div class="form-container">
    <h1>Внешние операции по счетам</h1>
    {% if bills_history %}
    {% for item in bills_history%}
    {{ macros.generate_bills_history(item) }}
    {% endfor %}
    <a class="button" href="{{url_for('dashboard_bp.d_user_history')}}">Просмотреть все операции</a>
    {% else %}
    <span>У вас нет последних операций</span>
    {% endif %}
</div>
<br>
<div class="form-container">
    <h1>Внутренние операции по счетам</h1>
    {% if bills_history_inner %}
    {% for item in bills_history_inner %}
    {{ macros.generate_bills_history_inner(item) }}
    {% endfor %}
    <a class="button" href="{{url_for('dashboard_bp.d_user_history_inner')}}">Просмотреть все операции</a>
    {% else %}
    <span>У вас нет последних операций</span>
    {% endif %}
</div>
<br>
<a class="button" href="{{url_for('dashboard_bp.statistics_user_index')}}">Просмотреть детализацию по счетам</a>
{% elif user_role == 'manager' %}
{{ macros.generate_worker_info(user_info) }}
<br>
<div class="form-container"ybrf>
    <h1>Меню работы с клиентами</h1>
    <a class="button" href="{{url_for('auth_bp.registration_index')}}">Регистрация нового клиента</a>
    <a class="button" href="{{url_for('dashboard_bp.d_manager_info')}}">Просмотр информации о клиенте</a>
    <a class="button" href="{{url_for('dashboard_bp.d_manager_deposit')}}">Зачисление средств</a>
    <a class="button" href="{{url_for('dashboard_bp.d_manager_withdraw')}}">Вывод средств</a>
</div>
{% else %}
{{ macros.generate_worker_info(user_info) }}
<br>
<div class="form-container">
    <h1>Меню</h1>
    <a class="button" href="{{url_for('auth_bp.registration_index')}}">Регистрация нового работника</a>
    <a class="button" href="{{url_for('currency_bp.currency_update_index')}}">Внесение курса валюты на текущую дату</a>
</div>
{% endif %}
{% endblock %}