{% extends 'layout.html' %}

{% block title %}История операций{% endblock %}

{% block content %}
<div class="table-container">
    <h1>{% if type == "inner" %}Внутренние{% else %}Внешние{% endif %} операции по счетам</h1>
    {% for bill in bill_history %}
    <div>
        {% if type == "inner" %}
        {{ macros.generate_bills_history(bill)}}
        {% else %}

        {% endif %}
    </div>
    {% endfor %}
</div>
<br>
<a class="button" href="{{url_for('dashboard_bp.d_user')}}">Назад</a>
{% endblock %}