{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Главная страница {% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <div class="container">
    <h1 class="headline">
      Банк
      <span class="auth-mode">{% if user_role == 'unauth' %}Вы не авторизованы{% else %}Вы авторизованы как {{user_role}}{% endif %}</span>
      <img src="{{url_for('static', filename='user.svg')}}" alt="User Icon" class="headline_img">
      <div class="dropdown-menu">
      {{macros.generate_dropdown(user_role)}}
      </div>
    </h1>
      <div class="menu">
        {{macros.generate_menu(user_role)}}
      </div>
    {% if client_login %}
    <div class="message">
      Ваш текущий клиент - <b>{{ client_login }}</b>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
    </div>
  <footer>
    <p>Вариант: Банк<br>Разработала Исхакова Е.Д. РК6-51Б</p>
  </footer>
</body>
</html>