{% extends 'layout.html' %}

{% block title %}{% if type == 'table' %}Таблицы{% else %}Отчёты{% endif %}{% endblock %}

{% block content %}
<h1>{% if type == 'table' %}Таблицы{% else %}Отчёты{% endif %}</h1>

{% if type == 'table' %}
<div class="form-container">
    {% for item in list %}
    <a class="button" href="{{url_for('query_bp.table_query', resource_name=item[0])}}">{{item[1]}}</a>
    {% endfor %}
</div>
{% else %}
<div class="form-container">
    {% for item in list %}
    <a class="button" href="{{url_for('query_bp.report_query', resource_name=item[0])}}">{{item[1]}}</a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}