{% extends 'layout.html' %}

{% block title %}Детализация{% endblock %}

{% block content %}
{% if user_role == 'user' %}
<h1>Детализация по счетам</h1></h1>
<div class="form-container">
    <h1>Фильтр по дате</h1>
    <form method="POST" action="">
        <label for="begin_date">Начало:</label>
    <input type="date" id="begin_date" name="begin_date" value="{{ begin_date }}" required>
    <label for="end_date">Конец:</label>
    <input type="date" id="end_date" name="end_date" value="{{ end_date }}" required>
    <button type="submit" class="btn-submit" style="margin-top:20px;">Применить</button>
    </form>
</div>
<br>
<div class="form-container">
    <h1>Внешние операции</h1>
    {% if detalisation_bills %}
    {% for item in detalisation_bills %}
    <div class="bill-card">
        <div class="bill-amount">{{ item[0] }} {{ item[1] }}</div>
        <br>
        <div><strong>Зачисления:</strong> {{ item[2] }} {{ item[1] }}</div>
        <div><strong>Снятия:</strong> {{ item[3] }} {{ item[1] }}</div>
        <div><strong>Переводы со счёта:</strong> {{ item[4] }} {{ item[1] }}</div>
        <div><strong>Переводы на счёт:</strong> {{ item[5] }} {{ item[1] }}</div>
    </div>
    {% endfor %}
    {% else %}
    <span>Нет информации по выбранным датам.</span>
    {% endif %}
</div>
<br>

<div class="form-container">
    <h1>Внутренние операции</h1>
    {% if detalisation_bills_inner %}
    {% for item in detalisation_bills_inner %}
    <div class="bill-card">
        <div class="bill-amount">{{ item[0] }} {{ item[1] }}</div>
        <br>
        <div><strong>Зачисления:</strong> {{ item[3] }} {{ item[1] }}</div>
        <div><strong>Снятия:</strong> {{ item[2] }} {{ item[1] }}</div>
    </div>
    {% endfor %}
    {% else %}
    <span>Нет информации по выбранным датам.</span>
    {% endif %}
</div>
<br>
{% endif %}
{% endblock %}